@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

:root {
  --darkBackground: #191919;
  font-size: 16px;
}

* {
  background-color: var(--darkBackground);
  color: white;
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  @apply text-4xl font-bold;
  font-size: 3rem;
}



p {
  @apply text-xl;
  font-size: 1.25rem;
}